body {

    font-family: 'Segoe UI', Arial, sans-serif;

    background: #f7f7fa;

    color: #222;

    margin: 0;

    padding: 2em;

}

h1 {

    color: #3a6ea5;

}

form, table {

    background: #fff;

    padding: 1.5em;

    border-radius: 8px;

    box-shadow: 0 2px 8px #0001;

    max-width: 500px;

    margin-bottom: 2em;

}

table {

    width: 100%;

    border-collapse: collapse;

}

td, th {

    padding: 0.5em 1em;

    border-bottom: 1px solid #eee;

}

input[type="text"] {

    width: 95%;

    padding: 0.5em;

    margin: 0.5em 0;

    border: 1px solid #bbb;

    border-radius: 4px;

}

button {

    background: #3a6ea5;

    color: #fff;

    border: none;

    padding: 0.7em 1.5em;

    border-radius: 4px;

    cursor: pointer;

    font-size: 1em;

}

a {

    color: #3a6ea5;

    text-decoration: none;

    margin-top: 1em;

    display: inline-block;

}
